.item {
  display: flex;
  align-items: center;
  width: 300px;
  gap: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 20px;
}

.true {
  background-color: rgb(0, 162, 27);
}

.false {
  background-color: rgb(246, 13, 13);
}

.avatar {
  border-radius: 10%;
  background-color: rgb(217, 216, 216);
  height: 80px;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.name {
  font-size: 24px;
}
