.statistics {
  margin: 20px auto;
  width: 600px;
  background-color: #fff;
  /* border-radius: 10px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.19;
  text-align: center;
  color: rgb(166, 166, 166);
}
.statlist {
  display: flex;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  width: 120px;
  /* border: 2px solid rgb(177, 177, 177); */
}
.label {
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.percentage {
  font-size: 24px;
  line-height: 1.19;
  color: rgb(255, 255, 255);
}
