.transaction_history {
  margin: 50px auto;
  width: 750px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

thead {
  background-color: rgb(45, 120, 250);
  color: #fff;
  text-transform: uppercase;
  line-height: 2;
}

th {
  width: 250px;
}

tbody > tr {
  background-color: rgb(255, 255, 255);
  text-transform: capitalize;
  text-align: center;
  line-height: 2;
  color: rgb(77, 77, 77);
}

tbody > tr:nth-child(even) {
  background-color: rgb(216, 216, 216);
}
